<h5>Java Collections</h5>

<p>
    What follows is a brief overview of sorting methods with Java Collections framework as part of the Java utils package
</p>

<p>
    The Collection interface is an extension of Iterable, an interface that allows for the foreach loop. Sub-interfaces of Collection include Deque, List, Queue, and Set. These sub-interfaces are implemented by, as relevant, the Collections class (contrast to the Collection interface) along with the Deque, List, Queue, and Set classes. Furthermore, these classes have other other subclasses.
</p>

<pre>
    <code [highlight]="" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>
