<h5>Thread interference and synchronisation</h5>

<p>
    Instance variables are stored on the heap. If only one instance is created and shared between threads, each thread of the same type is effectively in control of the same instance and its variables. This project shows how both threads change one instance's data. This is referred to as 'race conditions' or 'thread interference'.
</p>

<p>
    The GitHub repo with thread interference is <a href="https://github.com/jfspps/JavaThreadsShareDemo" target="_blank">here</a>.
</p>

<p>
    To avoid this behaviour, one can build a synchronization block (it is also possible to declare an entire function as 'synchronized'). This should be done minimally to prevent blocking threads unnecessarily. This block ensures that the current thread is not interrupted under normal conditions.
</p>

<p>
    The GitHub repo to synchronisation is <a href="https://github.com/jfspps/JavaThreadsSyncDemo" target="_blank">here</a>.
</p>