<h5>Angular binding</h5>

<p>
    This project explains how to utlitise Angular binding methods between components. The key relationship is that between a parent component and a child component. While relationships are established between immediate 'family members', data-binding can be chained between 'grandparents' and 'grandchildren' if required. This approach is fine for simple bindings but is generally simplified for larger projects with the use of Angular services (demonstrated elsewhere).
</p>

<p>
    Property binding with [property] and its decorators @Input and @Output are demonstrated. Event binding is covered by using (event). The decorators @ViewChild and @ContentChild are also briefy explored.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/AngularDataBinding" target="_blank">here</a>.
</p>