<h5>Loggers</h5>

<p>
   Logger producers were introduced in the <a routerLink="/springJakarta/jakartaProducers">CDI section</a>. Loggers are part of the java.utils package and can be injected into the resource class and allow the web service to send messages to a console or write logs to a file. To run loggers, simply inject an instance of Logger with <span class="annot">@Inject</span> into the (resource) class.
</p>

<pre>
    <code [highlight]="logger" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Other third-party logging libraries in use are Simple Logging Facade for Java <a href="http://www.slf4j.org/" target="_blank">SLF4J</a> and <a href="https://logback.qos.ch/">Logback</a>, amongst others.
</p>

<h5>Cookies</h5>

<p>
    Cookies saved on the client can be used to store metadata pertaining to the recent and future requests and responses. For example, once a user has downloaded a file, the server can require the client to save a cookie with information related to the download transaction. The cookie information is sent as part of the response to the client. The client side will then build the cookie file and refer to it in future. Cookies are saved as name-value pairs.
</p>

<pre>
    <code [highlight]="cookie" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Cookies has a maxAge property which defines the lifetime of a cookie. Expired cookies are discarded.
</p>

<h5>Filters</h5>

<p>
    Filters are used to filter requests and responses. They intercept requests and responses just before they payload reaches its target and are quite powerful tools, particularly in the security domain. They can alter the data itself.
</p>

<p>
    Regarding <b>request filters</b>, there are two types: "Pre-matching" (intercept before a URL is matched to the resource method) and "Post-matching" (intercept after a URL is matched with the resource method). In the latter case, the filter provides an opportunity for the web service to invoke methods or alter data before the body of the resource method is executed.
</p>

<p>
    <b>Response filters</b> simply intercept payloads as they migrate from the web service to the client.
</p>

<h5>Static and dynamic container response filters</h5>

<p>
    The JAX-RS API defines the container request and response filter interfaces. To implement a response filter, for example, simply implement the ContainerResponseFilter interface. Then register the class with the container using <span class="annot">@Provider</span>.
</p>

<p>
    Suppose that the web service requires the client to cache a response (from the server) for a given amount of time. This can be managed with its own class.
</p>

<pre>
    <code [highlight]="cacheResponseFilter" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The above example is a <i>static</i> filter since it is always registered at runtime. In some cases, it may be preferable to register filters when they are needed, that is, dynamically as a <i>dynamic</i> filter. One can build a dynamic filter with a custom annotation that triggers the registration.
</p>

<pre>
    <code [highlight]="maxAgeAnnot" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<pre>
    <code [highlight]="dynamicResponseFilter" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One then implements the JAX-RS DynamicFeature interface. The DynamicFeature interface defines the dynamic registration of (post-matching) filters at deployment and is itself registered with the JAX-RS runtime. Any custom response filters are registered individually on a needs basis through another custom implementation of DynamicFeature: DynamicFilterFeature. (Assume that DynamicFilterFeature is in the same package as the interface MaxAge.)
</p>

<pre>
    <code [highlight]="dynamicFilterFeature" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    If a resource method (not class; typically a HTTP GET method) is annotated with <span class="annot">@MaxAge(age = 200)</span> for example, then the dynamic container response filter, DynamicFilter, will be registered and the annotation age parameter can be passed to the maxAge field of the cacheControl.
</p>

<h5>Pre-matching container request filters</h5>

<p>
    The following example modifies a HTTP request method, effectively overriding what is defined on the server. Assume that the client is not allowed to send an HTTP DELETE method. In this case, one implements the JAX-RS ContainerRequestFilter interface. One then registers the filter statically and annotates with class with <span class="annot">@PreMatching</span> to intercept the payload before the resource method is matched to the URL.
</p>

<pre>
    <code [highlight]="preMatchRequestFilter" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The client could then send any HTTP method since with all requests trigger the pre-matching request filter. The web service will then log the original request and then look for a field with name="X-Http-Method-Override". If the value is set with a valid HTTP method type (GET, POST, etc.) then the method with the matching method type and path are invoked. The choices are value="PUT" and value="DELETE", as shown in the above snippet.
</p>

<h5>Post-matching container request filters</h5>

<p>
    Authentication of a client can be implemented through a post-matching request filter. Once the URL has been mapped, the web service can verify the identity of the client. Authentication in Jakarta EE is best handled with <a href="https://jwt.io/" target="_blank">JSON Web Tokens JWT</a> standard and is presented in the next section.
</p>