<h5>SOLID design principles</h5>

<ul>
    <li>Single responsibility: a class or method is responsible for one aspect only. Any changes to external objects may change a class (through composition) which adheres to the single responsibility principle but only one change is possible.</li>
    <li>Open-closed: Open means that classes are open for inheritance, with overridable methods. Closed means the existing base classes should not be modified. Quite often such classes are composed of abstract methods which cannot be changed in the class but are defined in child classes.</li>
    <li>The Liskov principle: explains that the behaviour of an object is defined by either its parent class or the parent class above. The Liskov principle is violated when a child class modifies the behaviour or contract of the base class it overrides.</li>
    <li>Interfaces: never force the user to implement methods which it never needs. Interfaces should be divided into smaller, more cohesive interfaces, overall segregating the unrelated methods.</li>
    <li>Dependency Inversion: methods should not have to create objects, instead, new objects should be created externally and passed to them. 
        <pre>
            <code [highlight]="dependencyInjection" (highlighted)="onHighlight($event)" [languages]="lang"></code>
        </pre>
        The responsibility of injecting dependencies (that is, data required for functionality) is inverted, and given to other objects and methods.</li>
</ul>

<h5>Design Patterns in Java</h5>

<p>
    More detailed notes and code samples from a Design patterns course in Java. The GitHub pages landing page is <a href="https://jfspps.github.io/JavaDesignPatterns" target="_blank">here</a>.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/JavaDesignPatterns" target="_blank">here</a>.
</p>