<h5>Android RSS reader</h5>

<p>
    This app downloads RSS feeds as XML files and therefore introduces the XMLPullParser class. Resources are managed by an Adapter class before being sent to the view. A ViewHolder class is utilised to store processed views and avoid the need to query again (important for users with capped data subscriptions). Download frequency and screen rotations are also handled to minimise user costs.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/AndroidRSSReader" target="_blank">here</a>.
</p>