<h5>Introduction to JakartaEE for Spring developers</h5>

<p>
    This demo introduces some of the basic project setup requirements to build a modern Java EE (Jakarta EE) web application resource, or WAR. The WAR can be deployed to an application server, such as Payara Micro. The option to build a Java archive, or JAR, with Payara Micro included is available.
</p>

<p>
    The key ideas and annotations used, provided in the project's readme, are:
</p>

<ul>
    <li>Java bean and JPA configurations via XML</li>
    <li>Servlets (controllers) which handle routing as extensions to the web server</li>
    <li>REST endpoint exposure</li>
    <li>Templates with JSP and JSF</li>
</ul>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/JavaEEDemo" target="_blank">here</a>.
</p>