<h5>Introduction to Jakarta EE for Spring developers</h5>

<p>
    This demo introduces some of the basic project setup requirements to build a modern Java EE (Jakarta EE) web application resource, or WAR. The WAR can be deployed to an application server, such as <a href="https://www.payara.fish/downloads/payara-platform-community-edition/" target="_blank">Payara Micro</a> (Payara is a derivative of <a href="https://www.oracle.com/middleware/technologies/glassfish-server.html" target="_blank">Oracle GlassFish Server</a>). The option to build a Java archive, or JAR, with Payara Micro included is available.
</p>

<p>
    The key ideas and annotations used, provided in the project's readme, are:
</p>

<ul>
    <li>Java bean and JPA configurations via XML</li>
    <li>Servlets (controllers) which handle routing as extensions to the web server</li>
    <li>REST endpoint exposure</li>
    <li>Templates with JSP and JSF</li>
</ul>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/JavaEEDemo" target="_blank">here</a>.
</p>