<h5>Introduction to JakartEE for Spring developers</h5>

<p>
    This demo introduces some of the basic project setup requirements to build a modern Java EE (Jakarta EE) web archive, or WAR. The WAR can be deployed to an application server, such as Payara Micro, and executed in a similar way that Spring Java archives, or JARs, are deployed to Tomcat, for example.
</p>

<p>
    The key ideas, provided in the project's readme are:
</p>

<ul>
    <li>Java bean and JPA configurations via XML</li>
    <li>Servlets (controllers) which handle routing as an extension of the web server</li>
    <li>REST endpoint exposure</li>
    <li>Templates with JSP and JSF</li>
</ul>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/JavaEEDemo" target="_blank">here</a>.
</p>