<p>Quick sort</p>

<p>
    A more visual demonstration is outlined and explained <a href="https://jfspps.github.io/Data-Structures-and-Algorithms/26_Sorting_methods.html" target="_blank">here</a>. The method uses two pointers "i" (near the start) and "j" (near the end) to traverse the array, respectively, forwards and backwards. As this happens, the elements are compared and swapped so that the lower value is placed nearer the start of the array. If required, the lower of the indexed elements then becomes the pivot point, the element with the lowest value. The result is a left-half which is sorted and a right-half which is not sorted. The pivot point is then usually traversed from the start to the centre of the array and hence the next iteration is processed more quickly. The overall time complexity is at worst O(n^2), approximated from O(n(n+1)/2).
</p>

<p>
    The code can be found in my Spring demo <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/sortingMethods/QuickSort.java" target="_blank">here</a>, along with a <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/sortingMethods/QuickSortTest.java" target="_blank">unit test</a>.
</p>

<pre>
    <code [highlight]="quickSort" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>