<h4>Building a Spring Boot-Docker image with Maven</h4>

<p>
    One can build a Docker image directly from Maven with the Fabric8 plugin (recently discontinued although still functional). To do so, first create a Dockerfile as follows:
</p>

<pre>
    <code [highlight]="dockerFile" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code>
</pre>

<p>
    This is conventionally placed <span class="commands">/src/main/docker</span> alongside the usual <span class="commands">/src/main/java</span> directory. In the above case, we are using the openjdk image which is built on top of an OS (see <a href="https://github.com/docker-library/docs/blob/master/openjdk/README.md#supported-tags-and-respective-dockerfile-links" target="_blank">tag list</a> to choose a specific platform), with the JDK already installed.
</p>



<p>
    We then import the Maven plugin, Fabric8, and set the tags with version info as follows (note how the project's artifactId and version are carried across to the Dockerfile):
</p>

<pre>
    <code [highlight]="pomxml" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    With administrator privileges, run Maven from the command line in the order:
</p>

<pre>
    <code [highlight]="mavenBuild" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    The image is then recognised by docker and can be executed (get the imageID with <span class="commands">docker images</span> and then run with <span class="commands">docker -d run imageID</span> not forgetting to add any volume or port variables are required. 
</p>

<h4>Pushing to Docker Hub</h4>

<p>
    One can edit Maven settings by right-clicking the pom.xml file in IntelliJ and then under Maven create or edit settings.xml, and then add the server details (at your own risk):
</p>

<pre>
    <code [highlight]="dockerPush" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    Alternatively, the official docs also shows how to <a href="https://ropenscilabs.github.io/r-docker-tutorial/04-Dockerhub.html" target="_blank">push images</a> without rebuilding from the IDE. Log into Docker at the command line with <span class="commands">docker login</span>. Then push the built image (again, list with <span class="commands">docker images</span>) with <span class="commands">docker push jfspps/testrepo_1_image</span>
</p>

<h4>Building and pushing release versions</h4>

<p>
    Docker images are tied to the version name and will not build if the version of the Dockerfile and pom.xml do not match. Some modification to the pom.xml and Dockerfile files is needed:
</p>

<pre>
    <code [highlight]="releaseDockerFile" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    Then add buildArgs in the Fabric8 configuration:
</p>

<pre>
    <code [highlight]="releasePomxml" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    One can then push to Docker Hub in the usual way.
</p>

<h4>Running images in Maven</h4>

<p>
    One can also run a built image (a continuation of the above build) while mapping ports between the container (the latter parameter) and the host (the first parameter):
</p>

<pre>
    <code [highlight]="mavenRunPomxml" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    With the above ports mapped, we can run the container interactively with <span class="commands">mvn docker:run</span>. The console represents the container and the usual Spring Boot output is produced. Entering CTRL-C terminates the app and stops the container. To run the container in the background, enter <span class="commands">mvn docker:start</span>. To stop the background container, enter <span class="commands">mvn docker:stop</span>. Either functionality is conveniently applicable to integration testing with docker containers running alongside.
</p>

<h4>Integration testing</h4>

<p>
    Integration testing can be executed first by importing the FailSafe plugin.
</p>

<pre>
    <code [highlight]="failSafe" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    Docker can then be directed to build and/or run an image (following from above, for example) by passing the commands to the Fabric8 block.
</p>

<pre>
    <code [highlight]="dockerExecutions" (highlighted)="onHighlight($event)"></code>
</pre>

<p>
    The 'pre-integration-test' builds and starts the containers listed under the 'images' block, the usual Spring integration tests are then run followed by the 'post-integration-test' block which shuts down the containers. Enter the command <span class="commands">mvn verify</span> to run the three-step process.
</p>