<div class="row">
    <div class="col-3">
        <h4>Java</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="javaThreads">Threads demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="javaClientServer">Client-Server demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="javaDesignPatterns">Design Patterns</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="javaAlgorithms">Algorithms and data structures</button>
        </div>
        <hr/>
        <h4>JavaFX</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="javafxGradle">JavaFX with Gradle</button>
        </div>
        <hr/>
        <h4>Spring</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="springMVC">Spring Boot and MVC</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="springSecurity">Spring Security</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="springReactive">Reactive Spring Demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="springREST">RESTful APIs</button>
        </div>
        <hr/>
        <h4>Java and Android</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidButton">Simple button app</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidCalc">Calculator</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidRSS">RSS Reader</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidYouTube">YouTube App</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidFlickr">Flickr App</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidContentProviders">Content providers</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="androidTaskTimer">Task timer</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>