<div class="row">
    <div class="col-3">
        <h4>Java</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Threads demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Client-Server demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Design Patterns</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Algorithms and data structures</button>
        </div>
        <hr/>
        <h4>JavaFX</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">JavaFX with Gradle</button>
        </div>
        <hr/>
        <h4>Spring</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Spring Boot and MVC</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Spring Security</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Reactive Spring Demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">RESTful APIs</button>
        </div>
        <hr/>
        <h4>Java and Android</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Simple button app</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Calculator</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">RSS Reader</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">YouTube App</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Flickr App</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Content providers</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-success" routerLink="">Task timer</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>