<div class="row">
    <div class="col-3">
        <h4><img src="assets/images/icons8-java.svg"> Java</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javaAlgorithms">Algorithms and data structures</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javaDesignPatterns">Design Patterns</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javaThreads">Threads demo</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javaThreadsShareSync">Thread interference and synchronisation</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javaThreadSafe">Java synchronisation methods</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javaClientServer">Client-Server demo</button>
        </div>
        <hr/>
        <h4><img src="assets/images/javafx.svg"> JavaFX</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javafxGradle">JavaFX with Gradle</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>