<h5>Bubble sorting method</h5>

<p>
    The bubble sorting method traverses an array, comparing and shuffling neighbouring pairs of elements, a maximum of n times (n = length of the array). A demo from my Spring app is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/sortingMethods/BubbleSort.java" target="_blank">here</a>, along with the unit test <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/sortingMethods/BubbleSortTest.java" target="_blank">here</a>.
</p>

<pre>
    <code [highlight]="bubbleSort" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Selection sorting method</h5>

<p>
    The selection sorting method traverses an array, comparing and shuffling a trailing element (i.e. towards the beginning of the array) to all other leading elements. During the next pass, the reference to the trailing element in incremented one place. As a result, there are as many passes as there are elements. A demo from my Spring app is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/sortingMethods/SelectionSort.java" target="_blank">here</a>, along with the unit test <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/sortingMethods/SelectionSortTest.java" target="_blank">here</a>.
</p>

<pre>
    <code [highlight]="selectionSort" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>