<h5>Angular first demo</h5>

<p>
    This is my first Angular demo project, showing how components (modules) are related. It also shows how to <a href="https://github.com/jfspps/angularDemo/blob/main/Instructions.md" target="_blank">set up new Angular projects</a> (relevant to the course) and <a href="https://github.com/jfspps/angularDemo/blob/main/Angular.md" target="_blank">how Angular projects are loaded</a>.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/angularDemo" target="_blank">here</a>.
</p>