<div class="row">
    <div class="col-3">
        <h4><img src="assets/images/icons8-android-os.svg"> Android</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidButton">Simple button app</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidCalc">Calculator</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidRSS">RSS Reader</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidYouTube">YouTube App</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidFlickr">Flickr App</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidContentProviders">Content providers</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-primary" routerLink="androidTaskTimer">Task timer</button>
        </div>
        <hr/>
        <h4><img src="assets/images/javafx.svg"> JavaFX</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javafxGradle">JavaFX with Gradle</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success" routerLink="javafxModules">Java 9 modules</button>
        </div>
        <hr/>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>