<h5>Java 8 lambda functions</h5>

<p>
    Lambda functions (also known as <i>closures</i>) provide a more concise and arguably clearer execution of essentially unnamed, anonymous (class) methods. Lambda functions are composed of three main parts, the argument list, the arrow token and the body, as
</p>

<p><span class="commands">new newObject((argumentList) -&gt; functionBody())</span></p>

<p>
    or for some already defined object as
</p>

<p>
    <span class="commands">existingObject((argumentList) -&gt; functionBody())</span>
</p>

<p>
    The curly braces are required for multiple statements. The compiler matches the argument list with a method defined
    by the object's interface (note here that the functionBody defines the method so a class is not relevant here).
    Since interfaces can list overloaded functions, it is necessary to restrict interfaces to have only one abstract method which needs defining.
    Such interfaces are known as functional interfaces and consequently lambda functions only apply to functional interfaces.
</p>

<p>
    Lambda functions can be used for the Comparator interface, for example, to define the behaviour of compare(). Below is the anonymous class implementation of compare().
</p>

<pre>
    <code [highlight]="anonClass" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Ultimately, the override uses Comparable's compareTo() method for a String type. The Lambda function is actually the second parameter of sort(), and overrides the compare() method of Comparator and ends up using the compareTo() method of Comparable.
</p>

<pre>
    <code [highlight]="lambdaFunc" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Functional interfaces and the <span class="commands">default</span> keyword</h5>

<p>
    Post Java 8, interfaces can also define default interface methods (with implementation) with the <span class="commands">default</span> keyword. This is in addition to <span class="commands">private</span> and <span class="commands">static</span> interface methods which can also be implemented. All other methods declared in the interface (among default, private and static methods) are assumed <i>abstract</i> methods or are implicitly abstract. A functional interface is an interface with only one abstract method. Lambda functions are defined in the context of the functional interface that they refer to and then executed elsewhere.
</p> 

<pre>
    <code [highlight]="functionalInterfaceImpl" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The type given in the functional interface could be made generic and then defined later.
</p>

<pre>
    <code [highlight]="genericFunctionalInterfaceImpl" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Return values</h5>

<p>
    Take the functional interface and return values as shown below.
</p>

<pre>
    <code [highlight]="returnValues" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The above lambda could be passed directly to a method without storing locally as uc, if appropriate. A 'return' keyword is not required in the above case. For function bodies with more than one statement, the following form is expected:
</p>

<pre>
    <code [highlight]="returnValuesBlock" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Scope</h5>

<p>
    Anonymous classes can only access external variables if they are declared final. The anonymous class defines the behaviour of the function but are not necessarily executed straight away. This means that the external variables can change after they were defined in code. If the variable changed to the point where the anonymous class cannot process it (leading to an exception) when required, then the program would likely fail. One way to ensure that the variable does not change at any point is to declare it 'final'. In the next two snippets below, variable i is accessible to all in doSomething().
</p>

<p>
    The example below assumes what would happen if an anonymous class would receive <i>if</i> it was granted access to variable i. In reality, the next two snippets would never compile.
</p>

<pre>
    <code [highlight]="scopeAnon" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The lambda form, with the same problems, is below.
</p>

<pre>
    <code [highlight]="scopeLambda" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    To give the anonymous class (and lambda function) access to variable i, first one must declare i as 'final'. This consequently makes <i>any</i> operation on variable i as illegal. Hence the post-decremental operator on i is removed.
</p>

<pre>
    <code [highlight]="corrected" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    If variable i is in scope of the anonymous class or lambda function <b>and</b> i is not changed, then variable i need not be declared 'final' (so is effectively final), as shown below. 
</p>

<pre>
    <code [highlight]="correctedLambda" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>The foreach method</h5>

<p>
    Iterable objects can be handled with lambdas, for example, with foreach. The focus is more towards functional programming, where the emphasis is more about direct input and output.
</p>

<pre>
    <code [highlight]="foreach" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    What follows is an overview of functional interfaces which can demonstrate the use of lambdas. Note that Lambdas are never a requirement when writing Java.
</p>

<h5>The Predicate interface</h5>

<p>
    One can use the Predicate interface (representing a predicate, a boolean-valued function) to determine which elements from a foreach iteration are processed. The test is performed by Predicate's <span class="commands">test()</span> method.
</p>

<pre>
    <code [highlight]="predicate" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Passing the definition as the third parameter, one can then print according to testValue.
</p>

<pre>
    <code [highlight]="testPredicate" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The anonymous class version of the above would be:
</p>

<pre>
    <code [highlight]="anonPredicate" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Executing against different conditions is probably more convenient using lambdas.
</p>

<h5>The Function and BiFunction interfaces</h5>

<p>
    One can define a function which receives one parameter and returns a value.
</p>

<pre>
    <code [highlight]="function" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Functions can be passed as a parameter, as such, to a function which can then decide which method to call.
</p>

<pre>
    <code [highlight]="moreFunctions" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can use getAName() type functions to guarantee that a function is always called but which is executed is determined by some condition. Typical scenarios include callbacks.
</p>

<p>
    Following the same print name example, one can chain functions together.
</p>

<pre>
    <code [highlight]="chainedFunc" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    It is also possible to add more functions and more 'andThen' calls to chain more functions. Furthermore, the BiFunction interface allows for functions which accept two arguments and returns one value.
</p>

<pre>
    <code [highlight]="bifunction" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Streams</h5>

<p>
    A stream in this context is a sequence of consecutive computations. The Collection interface has a stream() method which returns a stream and is the first call made. The resultant stream can then be handled with a sequence of methods. The order of the elements in the stream is the same as they appear in a List (undefined for a Set). The example below also demonstrates the calling of static methods with the class name, through <i>method referencing</i> (one can also conduct method referencing of non-static methods though objects of a class provided the class is instantiated).
</p>

<pre>
    <code [highlight]="streams" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The above example passes a lambda function as a parameter (to <span class="commands">filter()</span>) and represents one of the more useful applications of lambda functions. Another way of building streams without using a Collection and linking them with Function interfaces is given below.
</p>

<pre>
    <code [highlight]="moreStreams" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Some operations are intermediate, which take in and then return elements to/from the stream. Terminal operations, such as <span class="commands">count()</span>, do not return processed elements and are always found once at the end of the stream statement.
</p>

<p>
    Finally, streams can be initiated with stream(), passing the Collection as a parameter.
</p>

<pre>
    <code [highlight]="evenMoreStreams" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>FlatMaps - Lists of Lists</h5>

<p>
    Streams can be composed of lists as elements (that is, a stream outputs a list of lists), each of which can be streamed again. The snippet below effectively prints all employees from all departments.
</p>

<pre>
    <code [highlight]="flatMap" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The flatMap() method returns a stream, in this case, flattens nested lists. One gets the list from the list (in this case with getEmployees List) and sends them to a separate stream which is processed by subsequent methods. Note that the original stream is not sent along the method chain. That is, department objects are not printed.
</p>

<p>
    One can gather elements from a stream and store them in a new Collection.
</p>

<pre>
    <code [highlight]="savingStream" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    It is also possible to print elements from a stream according to certain criteria with lambdas:
</p>

<pre>
    <code [highlight]="reduceStream" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Reduce() is a BiFunction and returns the youngest employee. Reduce() is the terminal operation and returns an Optional, hence the need to 'unwrap' the Optional with ifPresent().
</p>

<h5>Method referencing</h5>

<p>
    Tied closely to streams, methods can be referred to either through static methods of a given class, non-static methods through an instance or via a constructor.
</p>

<ul>
    <li>Static methods: <span class="commands">ClassName::staticMethodName</span></li>
    <li>Non-static methods via instances: <span class="commands">instanceName::instanceMethodName</span></li>
    <li>Constructor references: <span class="commands">ClassName::new</span></li>
</ul>

<p>
    The following snippet shows how Role data transfer objects (DTOs) are built by calling the instance roleMapper's RoleToRoleDTO() method.
</p>

<pre>
    <code [highlight]="instanceMethodRef" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The following snippet shows how a collection of any Object which extends GrantedAuthority are mapped to a new instance of SimpleGrantedAuthority.
</p>

<pre>
    <code [highlight]="constructorReferences" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>