<h5>RESTful web services with Spring</h5>

<p>
    This app demonstrates the implementation of RESTful APIs with Spring. There are a number of commits in this repo which demonstrate the key areas:
</p>

<ul>
    <li>CircleCI integration</li>
    <li>Automated mapping data transfer objects (DTOs) and client beans with MapStruct, along with DTO converter classes (note that DTO objects in this repo are suffixed with API).</li>
    <li>Spring bean and DTO services, controllers and repositories (interfaces which extend the JpaRepository)</li>
    <li>Controller ResponseEntity's and the GET, PST, PUT, PATCH and DELETE requests</li>
    <li>Handling of 404 (not found) returns</li>
    <li>API documentation with OpenAPI (formerly, Swagger)</li>
    <li>Parsing and consumption of JSON and XML feeds</li>
    <li>XML to Java class conversion with JAXB2, along with fine-tuning of the XSD files</li>
</ul>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/RestAPI-Spring" target="_blank">here</a>.
</p>