<h5>Deadlocks</h5>

<p>
    The deadlock arises because each thread is trying to acquire locks in different order. For example, thread1 seeks lock 1 then lock 2; thread2 seeks lock 2 then lock 1. If they tried to seek both locks in the same order then a deadlock would not occur. These issues can be further complicated with more locks.
</p>

<pre>
    <code [highlight]="deadlock" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Starvation</h5>

<p>
    Starvation describes a situation where a thread is unable to gain regular access to shared resources and is unable to make progress. This happens when shared resources are made unavailable for long periods by "greedy" threads. The problem is due to how threads are prioritised. As already mentioned, priorities are not binding or contractual as far the OS is concerned.
</p>

<pre>
    <code [highlight]="starvation" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>