<h4>Angular</h4>

<div class="row">
    <div class="col-3">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="howTos">HowTos</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="firstDemo">First demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="binding">Data-binding</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="directives">Directives</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="services">Services</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="routing">Routing</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>

<hr/>

<h4>Databases</h4>

<div class="row">
    <div class="col-3">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" routerLink="SQL">MySQL notes</button>
        </div>
    </div>
</div>