<div class="row">
    <div class="col-3">
        <h4><img src="assets/images/icons8-spring-logo.svg"> Spring</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success"
                routerLink="springMVC">Spring Boot and MVC</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success"
                routerLink="springSecurity">Spring Security</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success"
                routerLink="springReactive">Reactive Spring Demo</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success"
                routerLink="springREST">RESTful APIs</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success"
                routerLink="springAndJMS">Spring and JMS</button>
        </div>
        <hr />
        <h4><img src="assets/images/icons8-java-bean.svg"> Jakarta EE</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaDemo">First Demo</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaCDI">Introduction to the CDI</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaContainerBean">Containers, contexts and beans</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaProducers">Producers and Interceptors</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaEvents">Events</button>
        </div>
        <br>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJPA">Introduction to the JPA</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaAccessMappingFetching">Access and mapping types, and Fetching</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaPKsRelationalMapping">Primary keys, relational mapping and embedding</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaSortingCollections">Sorting collections and Maps in JPA</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaEJBs">EJBs and transactions</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaEntityManager">Persistence context and Entity Manager</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJPQL">Java Persistence Query Language</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaOutro">Other JPA features</button>
        </div>
        <br>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJAXRSIntro">Introduction to JAX-RS</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJAXRSResponsesMappersFields">Response objects, Exception mappers and Form fields</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJAXRSCaching">Caching, content negotiation and file I/O</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJAXRSfilter">Loggers, cookies and filters</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJAXRSjwt">Security with JJWT and Apache Shiro</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaJAXRSsyncJSON">Resources, JSON-B, JSON-P, Clients and SSE</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-secondary"
                routerLink="jakartaWebSockets">Web sockets</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>