<h5>Threads in Java</h5>

<p>
    This project highlights the implementation of separate threads in Java, by either extending a required class from the Thread class or implementing the Runnable interface.
</p>

<p>
    Also included are threadX.interrupt() to interrupt the given threadX and threadY.join(), which enables a one to run right after (and on) the same thread, threadY, after threadY has finished its execution. The join() method is useful when threadY needs to finish something (e.g. completing database transactions). The code which runs after the join() method is executed when threadY has finished.
</p>

<p>
    Entering a parameter to join() sets the timeout for threadY.join() to wait, like threadY.join(2000). This will set a time limit for the threadY to complete. If the time passes, then the statements proceeding join() will run regardless if threadY finished or not.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/JavaThreadsDemo" target="_blank">here</a>.
</p>