<h5>CDI Producers</h5>

<p>
    Producers are non-void methods (annotated with <span class="annot">@Produces</span>) that convert Java classes, not normally managed or owned, into CDI managed beans. The method must return an object. The method parameters are optional but must be injectable. All are handled by the container.
</p>

<p>
    The return object is not normally handled by the CDI container e.g. an instance of Logger. 
</p>

<pre>
    <code [highlight]="producerMethod" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Any class which attempts to inject a Logger instance automatically triggers the execution of produceLogger() and returns the Logger instance as a contextual instance.
</p>

<pre>
    <code [highlight]="injectLogger" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The Producer converts Logger into a bean, scoped as the DependentScope, and in many ways can be viewed as implementations of Factory design patterns. The above injection in particular is scoped according to the calling class.
</p>

<p>
    Any object from the Java library can be returned and managed as a bean e.g. a Collections API List of Strings, for example.
</p>

<pre>
    <code [highlight]="producerMethodList" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Classes can also be injected directly as managed beans using fields. This works if the non-bean does not require further inquiry (e.g. EntityManager).
</p>

<pre>
    <code [highlight]="producerMethodListField" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Related to the above discussion about CDI qualifiers, the producers (methods or fields) can be qualified to eliminate ambiguity. Consequently, an injection of CommonInterface will invoke the above Producer method.
</p>

<pre>
    <code [highlight]="producerMethodListQualifier" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Methods or events can be executed to the contextual instance, produced from the Produces annotation, before the instance is destroyed. This can be achieved by using the <span class="annot">@Disposes</span> annotation.
</p>

<pre>
    <code [highlight]="producerMethodListFieldDisposes" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>CDI Interceptors</h5>

<p>
    Interceptors intercept method calls and execute other functions (auditing, security etc.) before the method is executed. Interceptors can also help decide if the method call goes ahead.
</p>

<p>
    Interceptors are implemented by declaring the method that is intercepted and the interceptor code (the binding code)that is executed. Typically, a custom annotation is defined, giving the target type i.e. does the interceptor intercept a method or class. If a class is the target then all methods of the class are intercepted. The approach is similar to Aspect Orientated Programming paradigms.
</p>

<pre>
    <code [highlight]="interceptor" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The interceptor binding code is demonstrated next. This could run, for example, security related functions. The InvocationContext interface is used to pass info related to calling method and its class so decisions about what to do now next can be carried out.
</p>

<pre>
    <code [highlight]="interceptorBinding" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>