<h5>Searching graphs</h5>

<p>
    An implementation of a Java depth-first search and breadth-first search of a graph. The class taken from my Spring demo is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/treesAndGraphs/SearchableGraph.java" target="_blank">here</a>. Unit test is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/treesAndGraphs/SearchableGraphTest.java" target="_blank">here</a>.
</p>

<p>
    The child nodes are stored in primitive Java arrays. The breadth-first search uses the custom <a routerLink="/java/javaQueue">Queue ADT</a> and resembles a level-order traversal.
</p>

<pre>
    <code [highlight]="searchableTree" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>