<h5>Custom stack</h5>

<p>
    An implementation of a Java array based stack (the linked list based implementation is given below), with common methods. The class taken from my Spring demo is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/stacksAndQueues/ArrayStack.java" target="_blank">here</a> and unit test <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/stacksAndQueues/ArrayStackTest.java" target="_blank">here</a>.
</p>

<pre>
    <code [highlight]="arrayStack" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    An implementation of a linked list based stack, with common methods. The class taken from my Spring demo is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/stacksAndQueues/ListStack.java" target="_blank">here</a> and unit test <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/stacksAndQueues/ListStackTest.java" target="_blank">here</a>.
</p>

<pre>
    <code [highlight]="listStack" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>