<h5>Custom binary search tree</h5>

<p>
    An implementation of a Java binary search tree, with common methods. The class taken from my Spring demo is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/treesAndGraphs/BinarySearchTree.java" target="_blank">here</a> and extends from <a routerLink="/java/javaBinaryTree">binary tree</a>. The unit test for BST is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/treesAndGraphs/BinarySearchTreeTest.java" target="_blank">here</a>.
</p>

<p>
    Overall, the construction of a BST is as follows. A sorted array of Integer is passed to <span class="commands">buildBinarySearchTree()</span> and then the parent BinaryTree structure is applied. The passed array is then partitioned as left and right arrays, both of which are independently passed again into <span class="commands">buildBinarySearchTree()</span>, repeating the process.
</p>

<pre>
    <code [highlight]="binarySearchTree" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>