<h5>Jakarta RESTful Web Services</h5>

<p>
    JAX-RS is an API that is part of the Java EE standard (previously known as Java API for RESTful Web Services), and uses interfaces and annotations to support the construction of RESTful Web Services. It is not necessary to include other dependencies when the <span class="commands">javaee-api</span> is imported. This introduction presents the minimum required to build a RESTful web service with JAX-RS.
</p>

<p>
    The REST architecture is specification within a set of constraints. For example, the client (be it Angular, React, Vue etc.) must be separated from the server (.NET, Python, Spring, Java etc.), and are independent units. There are a few other constraints:
</p>

<ul>
    <li>The client-server requests are all stateless. Each request is treated independently of all other requests and do not depend on the ongoing execution of other requests.</li>
    <li>The client and server should cache resources to help with performance and scalability</li>
    <li>The client should have general interface that can access resources on the server. The server must in turn expose a general uniform interface from which the client can access resources.</li>
    <li>The server should be built around a layered system and is required as a part of a load balancer related to scaling</li>
</ul>

<h5>JAX-RS configuration classes</h5>

<p>
    Classes (representing different REST API versions, for example) which extend <span class="commands">javax.ws.rs.core.Application</span> constitute the definition of the web service and the root path. The class is annotated with <span class="annot">@ApplicationPath("api/v1")</span> (the resources route "api/v1" can be changed). With Spring REST, one could use the <span class="annot">@RestController</span> and <span class="annot">@RequestMapping("/api/v1")</span> annotations on a simple POJO. All other REST endpoint paths or routes will be based on whatever is set in place of "api/v1".
</p>

<h5>JAX-RS paths and request methods</h5>

<p>
    With Spring REST, one would define a <span class="annot">@RestController</span> annotated class to define the root path "/api/v1" and/or "sub-paths" needed. This is also the case with Java EE, where a class, which represents a particular resource (files, records, data etc. on the server managed in part by Java classes) is annotated with <span class="annot">@Path("somePath")</span>. There is only one parameter, value, expected. This annotation <i>exposes</i> resources through RESTful resource points.
</p>

<p>
    Once the <span class="annot">@Path("somePath")</span> annotation is applied to the resource class, one exposes at least one resource related method by defining the path needed to invoke the method. (Note that the prefixing/postfixing forward-slash characters used to break up the URL is inserted automatically in Java EE: "api/v1" is fine, "/api/v1/" is not expected.) An experienced Spring REST developer should be able to follow the snippet below.
</p>

<pre>
    <code [highlight]="simpleResourceMethod" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The HTTP request methods are the usual standards:
</p>

<ul>
    <li><span class="annot">@GET</span>: GET methods are used to retrieve resources from the server without making changes to the resource on the server</li>
    <li><span class="annot">@POST</span>: POST methods are used to create new resources, using a payload or body. Repeated POST requests lead to the construction of more new resources</li>
    <li><span class="annot">@PUT</span>: PUT methods are used to update changes to a resource that already exists on the server. Repeated PUT requests will only change one resource and will not build new resources.</li>
    <li><span class="annot">@DELETE</span>: DELETE methods instruct the server to remove resources from the server. Repeated DELETE requests will not lead to further change to the resource or other resources.</li>
</ul>

<p>
    GET, PUT and DELETE are <i>idempotent</i> methods: they can be called multiple times without making subsequent changes to the resource or server. The state of the resource or the server following the first call will not change. 
</p>

<p>
    Clearly, it is important to set different resource paths for the same HTTP method, even though the same method can be called using different paths. The container is only interested in the annotation and not the method signature. Only one method for each HTTP request method can use the class' path annotation. Generally it is recommended to explicitly define different sub-paths for all methods.
</p>

<p>
    The REST controller class is intended to expose the resources and business layer of the application, not implement or define them. A service class will contain the fields and methods that are specific to the resources on hand. Injecting an instance of the service layer will enable the controller class to invoke the service methods.
</p>

<h5>HTTP content types</h5>

<p>
    The main payload formats (content type) between the client and the server used are:
</p>

<ul>
    <li>XML</li>
    <li>CSV</li>
    <li>EXCEL</li>
    <li>TEXT</li>
    <li>JSON</li>
</ul>

<p>
    Historically, XML was the main format. However, these days most payloads are transferred as JSON and is predominantly a key-value pair based format. When making REST based requests, the client normally requests which content type it expects, otherwise the server will default to one, given below.
</p>

<pre>
    <code [highlight]="contentType" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The return type of the resource (GET) method needs to conform to the HTTP 1.1 standard, which is language agnostic. The conversion is handled automatically by the JAX-RS <i>message body writers</i> (discussed later). To signify which content type to use, annotate the method with <span class="annot">@Produces</span>, as shown above. Any fields which are not initialised or populated will be returned in the content type array (JSON or XML etc.) as empty fields.
</p>

<p>
    One can also perhaps more conveniently annotate the class with <span class="annot">@Produces("application/json")</span> to instruct the container to return JSON for all GET methods. Furthermore, it is possible to override the content type at the method-level by using, for example, <span class="annot">@Produces("application/xml")</span>.
</p>

<p>
    When the client submits a payload to the server through a PUT or POST request is handled similarly, with the <span class="annot">@Consumes("application/json")</span> annotation. As with payload publication, all the conversion is handled on behalf of the developer. The method-level annotation also applies.
</p>

<pre>
    <code [highlight]="consumes" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Path Parameters (URI templates)</h5>

<p>
    Path parameters (aka "URI Templates") via the URL can be passed directly to an exposed method. The annotation <span class="annot">@PathParam()</span> instructs the container to inject the URL String passed. The example below would be sent as "api/v1/somewhere/printMe". Here the literal "printMe" would be passed to <span class="commands">returnParameter()</span>. Other types (Long, Integer etc.) can also be injected directly.
</p>

<pre>
    <code [highlight]="pathParam" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Validation of the parameter is clearly needed. One needs to restrict the parameter format using regular expressions. The client will receive a malformed URL exception if the expected parameter formatting is not sent.
</p>

<pre>
    <code [highlight]="pathParam2" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    If a default parameter value is needed (and the client should not always receive an error page) then use the <span class="annot">@DefaultValue()</span> annotation.
</p>

<pre>
    <code [highlight]="defaultParam" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p> 
    Note that the URL need not always conform to the normal "path/subpath1/path/subPath2" styled URL. It is possible to pass neighbouring subpaths as "path/&#123;ID}/edit/&#123;username&#125;&#123;serialNumber}.&#123;domain}/something/&#64;&#123;value}".
</p>

<h5>Query parameters</h5>

<p>
    Query parameters (e.g. "api/v1/somePath/someEntity?ID=25") proceed the "?" character. With JAX-RS, the query parameter is managed by the <span class="annot">@QueryParam("ID")</span> annotation. The next example shows this more clearly. A default value for the query parameter can also be set. Multiple query parameters can be set up and used.
</p>

<pre>
    <code [highlight]="queryParam" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>