<div class="row">
    <div class="col-3">
        <h4><img src="assets/images/icons8-c++.svg"> C/C++</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-info"
                routerLink="algorithmsInC">Data structures and algorithms</button>
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-info"
                routerLink="bashSlide">BashSlide</button>
        </div>
        <hr/>
        <h4><img src="assets/images/icons8-python.svg"> Python</h4>
        <div class="list-group">
            <button type="button" class="list-group-item py-1 pl-1 list-group-item-action list-group-item-success"
                routerLink="computations">Programming for computations</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>