<h4>C/C++</h4>

<div class="row">
    <div class="col-3">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary"
                routerLink="algorithmsInC">Data structures and algorithms</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary"
                routerLink="bashSlide">BashSlide</button>
        </div>
        <hr/>
        <h4>Python</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary"
                routerLink="computations">Programming for computations</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>