<h4>AWS and Spring</h4>

<p>
    Follow <a href="https://mydeveloperplanet.com/2020/10/21/how-to-deploy-a-spring-boot-app-to-aws-elastic-beanstalk/" target="_blank">these</a> instructions, and then on installation set the paths below:
</p>

<p>
    <span class="commands">echo 'export PATH="$PATH:/home/james/.ebcli-virtual-env/executables"' >> ~/.bashrc && source ~/.bashrc</span>
</p>

<p>
    <span class="commands">echo 'export PATH="$PATH:/home/james/.pyenv/versions/3.7.2/bin"' >> ~/.bashrc && source ~/.bashrc</span>
</p>

<p>
    Don't forget to add SERVER_PORT: 5000 to the <a href="https://www.javacodegeeks.com/2019/09/easy-spring-boot-deployment-aws-elastic-beanstalk.html" target="_blank">BeanStalk config</a>.
</p>

<p>
    Implement a class that defines Thymeleaf template resolver; see <a href="https://stackabuse.com/getting-started-with-thymeleaf-in-java-and-spring/" target="_blank">https://stackabuse.com/getting-started-with-thymeleaf-in-java-and-spring/</a>.  
</p>
