<h5>Java File I/O</h5>

<p>
    First, we start of with the FileWriter class with the help of an output stream. FileWriter is meant for writing streams of characters. For writing streams of raw bytes, use FileOutputStream. With regard to text files, the order in which data is printed to and extracted from must clearly match.
</p>

<pre>
    <code [highlight]="fileWriter" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Other statements or conditional statements or iterative blocks can be applied to print to the text file as required. Closing the file (the file stream) is important. The IOExceptions (checked exceptions, which cannot be ignored on compile time) are thrown when errors are encountered (e.g. read-only access, file not accessible).
</p>

<p>
    The more concise way of implementing the above segment, when no specific action is taken after an exception (other than print exception stack traces), is to use try with resources (new to Java 7). Remember to add the 'throws IOException' to the method signature. The stream is automatically closed.
</p>

<pre>
    <code [highlight]="fileWriterWithResources" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    To read from the text file, one can use the FileReader class. This can be implemented with the Scanner class (this automatically closes FileReader, which implements the Closeable interface). The delimiter represents the end of a line as such and is a recommended.
</p>

<pre>
    <code [highlight]="fileReader" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Note that the while loop implementation requires the program to look for the next input so a buffered approach, where entire file contents are read, is more efficient. Like FileReader, BufferedReader implements the Closeable interface.
</p>

<pre>
    <code [highlight]="fileReaderWithBuffer" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    As above, one can convert the try-finally block with a try-with-resources block. In this case, the scanner has been removed and each line is read one at a time. The catch block has been left in for demonstration purposes.
</p>

<pre>
    <code [highlight]="fileReaderWithBufferWithResources" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    A BufferedWriter can take a FileWriter instance in much the same way as a BufferReader takes in a FileReader.
</p>