<h5>HowTos</h5>

<p>
    This project highlights a number of GibHub repositiories which I plan to use as a reference point when setting up new projects of, for example, a Spring Security apps or a JavaFX projects. Each project example is developed following small commits and ongoing commentary. Each repository acts as a record of the technologies that I have had experience with either from an online tutorial or course. HowTo's also links to programming notes that I have recorded, again, for future reference.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/howtos" target="_blank">here</a>.
</p>
