<h5>HowTos</h5>

<p>
    This project highlights a number of GibHub repositiories which demonstrates how to set up new projects of, for example, a Spring Security app or a JavaFX project. Each project example is developed with small commits and ongoing commentary. These records provide me with a reference point to technologies that I have had experience with either from an online tutorial or course. HowTo's also links to programming notes that I have compiled, again, for future reference.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/howtos" target="_blank">here</a>.
</p>
