<div class="row">
    <div class="col-3">
        <h4>Android</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidButton">Simple button app</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidCalc">Calculator</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidRSS">RSS Reader</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidYouTube">YouTube App</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidFlickr">Flickr App</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidContentProviders">Content providers</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="androidTaskTimer">Task timer</button>
        </div>
        <hr/>
        <h4>Spring</h4>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="springMVC">Spring Boot and MVC</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="springSecurity">Spring Security</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="springReactive">Reactive Spring Demo</button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" routerLink="springREST">RESTful APIs</button>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>