<h5>Validation</h5>

<p>
    Data should be validated right before it is persisted to a database. This can be achieved with the Bean Validation API, which is integrated with the JPA. The default provider for Bean Validation API is Hibernate (not EclipseLink) so the following subsection is aimed at Hibernate.
</p>

<p>
    To verify the integrity of the beans (and consequently entities), one sets constraints on the bean fields as annotations. If the constraint is violated, then and exception is raised and the current transaction is not committed (causing all other invoked methods to be rolled back). A few are summarised below.
</p>

<ul>
    <li><span class="annot">@NotEmpty(message = "this cannot be null or empty")</span>: field cannot be null or empty (the message parameter is optional)</li>
    <li><span class="annot">@Past(message = "this must be set in the past"</span>: this ensures that the local date must be set in the past</li>
    <li><span class="annot">@PastOrPresent(message = "must be set in the past or present")</span>: the annotated LocalDate field cannot be set in the future</li>
    <li><span class="annot">@NotNull(message = "entity cannot be null")</span>: a somewhat legacy implementation of <span class="annot">@NotEmpty</span> except that it does not check for empty collections</li>
    <li><span class="annot">@DecimalMax(value = "65", message = "Value must be less than or equal to 65")</span>: the field must not be greater than the stated value (65, for example)</li>
    <li><span class="annot">@DecimalMin(value = "65", message = "Value must be greater than or equal to 65")</span>: the field must be less than or equal to the stated value</li>
    <li><span class="annot">@Email(message = "Enter a valid email address")</span>: expects user@domain.com or similar</li>
    <li><span class="annot">@NotBlank(message = "Value cannot be null or composed entirely of whitespace")</span>: as instructed, there must be at least one character present</li>
    <li><span class="annot">@Pattern(regExp = "&#91;de&#93;&#91;FG&#93;", message = "string must contain the sequence deFG at least once")</span>: the given field must be recognised by the stated <a routerLink="/java/javaRegExp">regular expression</a></li>
    <li><span class="annot">@Size(min = 3, max = 55, message = "Value must be greater than or equal to 3 and less than or equal to 55")</span>: a combination of min and max annotations; the default min value is zero if not stated</li>
</ul>

<h5>Entity lifecycle callbacks</h5>

<p>
    There are a number lifecycle points which are available and enable custom functions to be executed. CDI contextual instance callbacks were briefly introduced <a routerLink="/springJakarta/jakartaContainerBean">here</a>. For JPA entities, the custom methods are also annotated and then invoked at the required stage.
</p>

<ul>
    <li><span class="annot">@PrePersist</span>: invoked prior to persistence to the database; can be private or public etc., but must parameterless and void</li>
    <li><span class="annot">@PostPersist</span>: invoked after persistence (note that this in relation to the individual entity not the transaction as a whole, so this annotated method would still run even if the transaction fails)</li>
</ul>

<p>
    There are other fairly self-explanatory annotations which are somewhat JPA provider dependent. These include <span class="annot">@PreUpdate</span>, <span class="annot">@PostUpdate</span> and <span class="annot">@PostLoad</span>.
</p>

<p>
    Note the above annotations can, in principle, be applied to the same method.
</p>

<h5>Entity listeners</h5>

<p>
    Entity listeners provide another way of implementing lifecycle callbacks, including a more general implementation of the callback function. This approach can be cleaner in some cases and focuses solely on entity callbacks.
</p>

<p>
    For example, a method can be annotated with a specific callback or callbacks. Instead of invoking the specific method, one can build and invoke a more general method instead. For example, many entities will have their own logging callback which logs metadata once an entity has been persisted to the database. If for some reason that a more general logging callback is required then it is possible to isolate (or withdraw) the specific callback and instead invoke a more general one. This is achieved through entity listeners.
</p>

<p>
    To implement entity listeners, build a new class with methods that have the same method signature.
</p>

<pre>
    <code [highlight]="entityListener" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The first snippet above shows how the specific callback would be implemented, the second snippet below shows how a more general callback would be applied.
</p>

<pre>
    <code [highlight]="generalEntityListener" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    To associate the entity with the above listeners (clearly the first listener should only be applied to Customer class), annotate the bean with <span class="annot">@EntityListener(&#123;CustomerListener.class, AbstractEntityListener.class&#125;)</span> for example. Edit the array parameter as needed.
</p>

<h5>Native Queries</h5>

<p>
    Native queries provides some of the provider specific queries which are not normally available to the standard JPQL through the interaction with JPA entities. Native queries supplement the JPQL by allowing one to use native SQL.
</p>

<p>
    The annotation is <span class="annot">@NamedNativeQuery(name = "someNativeQuery", query = "select * from SomeEntity", resultClass = SomeEntity.class)</span>. The SQL query is passed as the query parameter and overall, this native query is referred to as a <i>named native query</i>. The native query can be passed to a service class methods (via a EntityManager instance) with <span class="commands">createNamedQuery()</span> in very much the same way as named queries (which use <span class="annot">@NamedQuery()</span>). All SQL queries are available though some thought about the provider used (this approach may also render the application less database agnostic).
</p>

<p>
    It is also possible to implement <i>dynamic native queries</i> in the same way as dynamic queries by defining a method that returns a Collection. Note in both cases that the terminating semicolon is needed in the string. Also note that native SQL queries work on SQL tables directly, not Java entities.
</p>

<pre>
    <code [highlight]="dynamicNativeQuery" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    With native queries, the return type is not TypedQuery but instead an "untyped" Query (part of EntityManager class). It may be necessary to annotate the method to suppress compiler warnings (see snippet above).
</p>

<h5>Overriding equals() and hashCode()</h5>

<p>
    Generally, it is recommended that one override the <span class="commands">equals()</span> and <span class="commands">hashCode()</span> methods when managing JPA beans. Doing so grants more control about how objects are compared and how it rejects new entities that already exist in the database. Another brief exploration of the implications of <span class="commands">equals()</span> and <span class="commands">hashCode()</span> were discussed in the <a routerLink="/java/javaSortCollections">Collections framework</a> notes. The Set interface, for examples, relies on <span class="commands">equals()</span> and <span class="commands">hashCode()</span> methods. In short, <span class="commands">equals()</span> checks if two Java objects are the same by comparing their hash code, through <span class="commands">hashCode()</span>. If the hash code is not set and overridden properly then <span class="commands">equals()</span> will probably return false positives or negatives.
</p>

<p>
    It is worth highlighting that the id of an entity is not normally decided before the <span class="commands">equals()</span> method is called. The new Java object may be undergoing validation etc. and is only assigned an id by the provider once the object has satisfied the prerequisites. Hence, the id cannot be used to determine if two new Java objects (or one new Java object and one entity with an id) are the same or not. The id field is intended for the database, nothing else.
</p>

<p>
    One would need to choose fields which can help distinguish between objects. Also be aware that the case of the String should be made the same, since different providers may not treat string literals in the same way. Something like the following would work.
</p>


<pre>
    <code [highlight]="equalsHashCode" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>