<div class="container-fluid">

  <body>

    <div class="jumbotron">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">New project startup templates and programming notes</p>
      <hr class="my-4">

      <button class="btn btn-outline-primary btn-lg" type="button" routerLink="/javaSpring">Java and Spring</button>
      <button class="btn btn-outline-secondary btn-lg" type="button" routerLink="/AngularDB">Angular and databases</button>
      <button class="btn btn-outline-primary btn-lg" type="button" routerLink="cPython">C++ and Python</button>

    </div>

    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>

</div>