<div class="container-fluid">

  <app-header [headingTitle]="title"></app-header>

  <!--bg-dark: #343a40 -->
  <div class="text-light bg-dark">
    <hr />

    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="btn-group">
          <button class="btn btn-outline-success btn" type="button" routerLink="java">Java</button>
          <button class="btn btn-outline-primary btn" type="button" routerLink="androidSpring">Android and
            Spring</button>
          <button class="btn btn-outline-warning btn" type="button" routerLink="AngularDB">Angular and
            databases</button>
          <button class="btn btn-outline-info btn" type="button" routerLink="cPython">C/C++ and Python</button>
          <button class="btn btn-outline-danger btn" type="button" routerLink="dockerPage">Docker and Misc.</button>
        </div>
      </div>
    </div>

    <hr />
  </div>
</div>

<div class="container-xl">

  <body class="text-light bg-dark">

    <div class="row justify-content-start">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>

  </body>
</div>