<h5>Android Flickr browser</h5>

<p>
    This app downloads from the Flickr feed https://www.flickr.com/services/feeds/photos_public.gne?format=json&nojsoncallback=1&lang=zh-hk. It downloads the image and extracts the metadata from a JSON list.
</p>

<p>
    This program highlights the Android lifecycle and the use of callbacks at each stage. In addition, the UI and business logic run on different threads, introducing the ASyncTask class. Other Android features covered include:
</p>

<ul>
    <li>RecyclerViews</li>
    <li>image ViewHolder</li>
    <li>GestureDetectors to manage user interaction</li>
    <li>Toolbars</li>
    <li>Text search facilities and SearchManager</li>
    <li>SharedPreferences compared to Bundles</li>
    <li>Implementing 'not found' type responses to search requests</li>
</ul>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/AndroidFlickrBrowser" target="_blank">here</a>.
</p>