<h5>Android task timer</h5>

<p>
    This app stores user tasks and logs times and dates, and process task duration. This project introduces the use of SQLite3 (a simpler demo is given <a href="https://github.com/jfspps/SQLiteAndroidDemo" target="_blank">here</a>). A number of new features are explored:
</p>

<ul>
    <li>Database entity column names</li>
    <li>Building a single instance (singleton) of the database</li>
    <li>Provisional handling of database versions</li>
    <li>Implementation of a custom AppProvider class that extends Android's ContentProvider class for database processing</li>
</ul>

<p>
    This demo is still in development.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/AndroidTaskTimer" target="_blank">here</a>.
</p>