<h4>
    Docker commands
</h4>

<ul>
    <li>List all (-a) Docker images: <span class="commands">docker images -a</span></li> 
    <li>List all running Docker containers: <span class="commands">docker ps</span></li> 
    <li>List all Docker containers: <span class="commands">docker ps -a</span></li> 
    <li>Start a Docker container: <span class="commands">docker start container_name</span></li> 
    <li>Stop (graceful) a Docker container: <span class="commands">docker stop container_name</span></li>
    <li>Restart a Docker container: <span class="commands">docker container restart container_name</span></li>
    <li>Kill a running containers: <span class="commands">docker container kill container_name</span></li> 
    <li>Open a BASH shell in a container: <span class="commands">sudo docker exec -it container_name bash</span></li> 
</ul>

<p>
    Other commands pertaining to container and image management:
</p>

<ul>
    <li>View the logs of a Running Docker Container: <span class="commands">docker logs container_name</span></li> 
    <li>Remove a Docker image (forced with -f): <span class="commands">docker rmi -f image_name</span></li> 
    <li>Delete all dangling Docker images (-a to remove unreferenced images): <span class="commands">docker image prune -a</span></li> 
    <li>Remove a stopped container: <span class="commands">docker rm container_name</span></li>
    <li>Remove all stopped containers (optional -f to force without confirmation): <span class="commands">docker container prune -f</span></li> 
    <li>Remove a volume (forced with f): <span class="commands">docker volume rm -f volume_id</span></li>
    <li>Remove all unused volumes (no confirmation with -f): <span class="commands">docker volume prune -f</span></li> 
</ul>