<h5>Android YouTube app</h5>

<p>
    This app loads a YouTube video and playlist (Spitting Image). This demo shows how Google API keys are needed to utilise the YouTubePlayer library (along with the functions it provides). In addition, onInitializationSuccess() and onInitializeFailure() as well as Intent (a description of an operation about to be performed) code is set out. The option to play the video in-app or as a standalone app is provided.
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/AndroidYouTubeApp" target="_blank">here</a>.
</p>