<h5>Custom queue</h5>

<p>
    An implementation of the Java queue, with common methods. The class taken from my Spring demo is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/stacksAndQueues/Queue.java" target="_blank">here</a> and unit test <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/stacksAndQueues/QueueTest.java" target="_blank">here</a>.
</p>

<pre>
    <code [highlight]="javaQueue" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>