<h5>Java NIO filesystems</h5>

<p>
    The Java NIO's Path interface handles a files path information.
</p>

<pre>
    <code [highlight]="path" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can use the Path instance to access the file.
</p>

<pre>
    <code [highlight]="handlePath" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can get the working directory and return the absolute path with:
</p>

<pre>
    <code [highlight]="workingDir" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can also pass each segment of the path (usually separated by a delimiter \ or / depending on the OS) with:
</p>

<pre>
    <code [highlight]="usingRelativeToWorking" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>