<h5>Java NIO filesystems</h5>

<p>
    The Java NIO's Path interface handles a files path information.
</p>

<pre>
    <code [highlight]="path" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can use the Path instance to access the file with BufferedReader or BufferWriter.
</p>

<pre>
    <code [highlight]="handlePath" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can get the working directory with the dotted notation and return the absolute path with:
</p>

<pre>
    <code [highlight]="workingDir" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Working directories are also retrieved using getDefault(). One can also pass each segment of the path (usually separated by a delimiter \ or / depending on the OS) with:
</p>

<pre>
    <code [highlight]="usingRelativeToWorking" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Note how important the order of each segment is.
</p>

<h5>Exists and copy methods</h5>

<p>
    Java 7's IO Paths class was replaced by Java NIO's Path interface to accommodate exception handling and address other limitations, including delete() and rename(). With Java IO Paths class, no exceptions are thrown until a buffer is coupled to the file. Until then, the Paths objects is assumed to exist.
</p>

<p>
    With Java NIO, one can check if a file exists:
</p>

<pre>
    <code [highlight]="fileExists" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can also use Java NIO's copy() method to copy across a file (without more parameters, files are not copied if they already exist):
</p>

<pre>
    <code [highlight]="copyFile" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Moving, renaming and deleting files</h5>

<p>
    The methods to move, rename (with copy() shown below, or move()) and delete methods are:
</p>

<pre>
    <code [highlight]="moveRenameDeleteFile" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    It is also possible move or copy entire directories (see walking the tree, below) by passing directory segments without the file name segment. Note that some operating systems may respond differently to move().
</p>

<h5>File metadata</h5>

<p>
    To retrieve a file's attributes or metadata, with regard to the operating system, see the <a href="https://docs.oracle.com/javase/8/docs/api/java/nio/file/attribute/BasicFileAttributes.html" target="_blank">BasicFileAttributes interface</a>. To get all the attributes in one go, use:
</p>

<pre>
    <code [highlight]="fileAttributes" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    There are other subclasses of BasicFileAttributes (OS specific) hence the need to pass the class in readAttributes().
</p>

<h5>Reading directories</h5>

<p>
    The files and directories present in a given directory, excluding other files in descendant directories, use:
</p>

<pre>
    <code [highlight]="readDirectory" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    To apply other matchers or wildcards (instead of *.sql), see <a href="https://docs.oracle.com/javase/8/docs/api/java/nio/file/FileSystem.html#getPathMatcher-java.lang.String-" target="_blank">the official docs</a>.
</p>

<h5>Other file system related features</h5>

<p>
    Different operating systems use different directory separators. Linux and Macs use "/" whereas Windows uses "\". To get the current system's separator, use:
</p>

<pre>
    <code [highlight]="fileSeparator" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    To create temporary files in the OS's temp directory, use:
</p>

<pre>
    <code [highlight]="tempFiles" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    To get the drives (file stores) representing physical drives or partitions, and root paths use:
</p>

<pre>
    <code [highlight]="drivesAndRoot" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<h5>Walking a file tree</h5>

<p>
    This tends to be useful when searching for all files from a given parent directory. The approach is given below:
</p>

<pre>
    <code [highlight]="walkingTheTree" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Walking the tree is normally supported by an extension of SimpleFileVisitor. This class keeps track of which file was used and can be extended to return info each time a file is visited:
</p>

<pre>
    <code [highlight]="printFileNames" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    This approach also provides a way of copying all files found. Again, a class which extends SimpleFileVisitor can implement this functionality.
</p>

<pre>
    <code [highlight]="copyFilesFound" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    The supporting class is provided below:
</p>

<pre>
    <code [highlight]="copyFilesFoundSupport" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>
