<h5>Java NIO filesystems</h5>

<p>
    The Java NIO's Path interface handles a files path information.
</p>

<pre>
    <code [highlight]="path" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can use the Path instance to access the file.
</p>

<pre>
    <code [highlight]="handlePath" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    One can get the working directory with the dotted notation and return the absolute path with:
</p>

<pre>
    <code [highlight]="workingDir" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Working directories are also retrieved using getDefault(). One can also pass each segment of the path (usually separated by a delimiter \ or / depending on the OS) with:
</p>

<pre>
    <code [highlight]="usingRelativeToWorking" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>

<p>
    Note how important the order of each segment is. Java 7's IO Paths class was replaced by Java NIO's Path class to accommodate exception handling and address other limitations, including delete() and rename().
</p>