<h5>Custom linked list</h5>

<p>
    An implementation of a Java singly linked list (without loops), with common methods. The class taken from my Spring demo is <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/main/java/com/algo_data/linkedLists/LinkedList.java" target="_blank">here</a> and unit test <a href="https://github.com/jfspps/AlgorithmsInJava/blob/main/ADTsAlgoServices/src/test/java/com/algo_data/linkedLists/LinkedListTest.java" target="_blank">here</a>.
</p>

<pre>
    <code [highlight]="linkedListClass" (highlighted)="onHighlight($event)" [languages]="lang"></code>
</pre>