<h5>Spring Boot and MVC demo</h5>

<p>
    This app demonstrates a model, controller and view layer for the implementation of a book list. The project was adopted from Spring Framework Guru. Database relationships (one-to-one, one-to-many etc.) are provided. A bootstrap class populates the in-memory H2 database and can be accessed via the Controller classes with the /authors and /books routes. No unit testing was performed at this stage of the course. 
</p>

<p>
    The GitHub repo is <a href="https://github.com/jfspps/SpringWebApp" target="_blank">here</a>.
</p>