<p>
    HowTos is an Angular application which lists a number of projects that I have written while following along online tutorials. The main purpose is to index each project for future reference, either from the point of view as a starting template or a demonstration of some feature. In addition to the tutorial projects are my notes on various programming topics which I also refer to.
</p>

<p>
    The GitHub repo for HowTos is <a href="https://github.com/jfspps/howtos" target="_blank">here</a>.
</p>